/* Estilo geral do rodapé */
.footer {
    background-color: #2f2841;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Espaço igual entre seções */
    align-items: flex-start; /* Alinhamento superior */
    flex-wrap: wrap; /* Permitir quebra de linha em telas pequenas */
    gap: 20px; /* Espaçamento entre as seções */
    
}

/* Estilo para cada seção */
.footer section {
    flex: 1; /* Cada seção ocupa o mesmo espaço */
    min-width: 200px; /* Largura mínima para evitar encolhimento excessivo */
}

/* Logo e links de navegação */
.Footer_nav_logo {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.Footer_nav_logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.Footer_nav_links {
    font-size: 12px;
    list-style: none;
    padding: 0;
<<<<<<< HEAD
    list-style-type: none;
=======
>>>>>>> 1979024c27b109c72fc648db060f68fdbfd1f628
    display: flex;
    flex-direction: column; /* Links em coluna */
    margin-top: 10px;
}

.Footer_nav_links li a {
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Transição suave */
}

.Footer_nav_links li a:hover {
    color: #007bff; /* Cor azul ao passar o mouse */
}

/* Ícones sociais */
.social-links a {
    margin-right: 10px;
    display: inline-block;
}

.social-links img {
    width: 30px;
    height: 30px;
}

/* Informações de contato */
.contact-info {
    font-size: 12px;
    color: #fff;
    line-height: 1.8;
}

/* Rodapé inferior */
.footer-bottom {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Ocupa toda a largura */
    color: #fff;
}

