/* Estilo geral do rodapé */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color:  #2f2841;
    padding: 10px;
    font-size: 14px;
    bottom: 10px;
}

/* Container 1 logo e social, Container 2 navlinks, contato e copy */
.container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 20% max-content;
    
}
.container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80% max-content;
}

.box1 {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.box2 {
    box-sizing: border-box;
    width: auto;
    flex-basis: 500px;
    flex-grow: 3;
    flex-shrink: 1;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.Footer_nav_logo img {
    margin: 15px;
    width: 120px;
    height: auto;
    margin-top: 25px;
}

/* Ícones sociais e navlinks */
.fab img{
    width: 25px;
    padding: 10px;
    margin: 5px;
}

.fab img:hover{
    width: 30px;
}

.Footer_nav_links {
    list-style: none;
    padding: 10px;
    list-style-type: none;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.Footer_nav_links li {
    display: flex;
    padding: 10px;
    color: #fff;
}
.Footer_nav_links li a:hover {
    color: #2EF2CB;
    font-size: 18px;
}

.Footer_nav_links a {
    text-decoration: none;
    color: #fff;
}

/* Informações de contato */
.contact-info p {
    margin: 10px;
    color: #fff;
    display: flex;
    flex-direction: wrap column;
}

/* Rodapé inferior */
.footer-bottom p {
    margin: 10px;
    color: #fff;
    display: flex;
    flex-direction: wrap column;
    font-size: 12px;
}