@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #2f2841;
    width: 10px;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #f7f7f7;
    color: #333;
}

body * {
    box-sizing: border-box;
}

.nav_logo {
    display: flex;
    align-items: center;
    color: #2b134b;
    font-size: 24px;
    font-weight: 600;
    margin-left: -250px;
    padding-right: 80px;
}

.nav_logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav_links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; 
}

.navbar ul {
    list-style-type: none;
    display: flex; 
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px; 
}

.navbar li:last-child {
    margin-right: 0; 
}

.navbar li a {
    display: block;
    color: #2b134b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #77ffc0;
    color: #ffffff;
}

.navbar li button {
    display: block;
    color: #2b134b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em; 
    cursor: pointer; 
    outline: none; 
}

.navbar li button:hover {
    background-color: #77ffc0;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-login {
    width: 100vw;
    height: 100vh;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #2b134b;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.card-login > h1 {
    color: #2b134b;
    font-weight: 800;
    margin: 0;
}

.textfild {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.textfild > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #f0f0f0;
    color: #333;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    outline: none;
    box-sizing: border-box;
}

.textfild > label {
    color: #333;
    margin-bottom: 10px;
}

.textfild > input::placeholder {
    color: #aaa;
}
#togglePassword{
    position: absolute;
    padding: 10px;
    right:1px; /* Ajusta a posição do ícone à direita do campo */
    top: calc(50% - 1px);
    cursor: pointer;
    color: #030303; /* Cor inicial do ícone */
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: #2b134b;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgba(0, 0, 0, 0.1);
}
#incorreto{
    color: red;
}

@media only screen and (min-width: 1650px) {
    .left-login, .right-login {
        zoom: 0.8;
    }
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 768px) {
    
        .navbar {
            flex-direction: column;
            gap: 10px;
        }
    
        .nav_logo {
            margin: 0px 0;
        }
    
        .nav_logo img {
            width: 30px;
        }
    
        .navbar ul {
            display: none; 
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            background-color: #ffffff;
            box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
            z-index: 1000;
        }
        .nav_links.open {
            display: flex; 
        }
    
        .hamburger-menu {
            display: block; 
        }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
    }

    .card-login {
        width: 90%;
    }

    .navbar li {
        float: none;
        width: 100%;
    }
}
/* Estilo geral do rodapé */
.footer {
    background-color: #2f2841;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    bottom: 0%;
    position: absolute;
    width: 100%;
}

/* Logo e links de navegação */
.Footer_nav_logo {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 600;
    

}

.Footer_nav_logo img {
width: 40px;
height: auto;
margin-right: 10px;
border-radius: 50%;
}


 .Footer_nav_links {
    list-style: none;
    padding: 0;
    
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; 
}


 .footer_nav_links li a{
    display: inline-block;
    margin-right: 15px;
    color: #fff;
}
.Footer_nav_links li {
    display: inline-block;
    margin-right: 15px;
    color: #fff;
}

.Footer_nav_links a {
    text-decoration: none;
    color: #fff;
}

/* Ícones sociais */
.social-links {
    margin-top: 20px;
}
.social-links a {
    margin-right: 10px;
    color: #2f2841;
    font-size: 20px;
}
.fab img{
    width: 30px;
    justify-content: center;

}

/* Informações de contato */
.contact-info {
    margin-top: 20px;
    color: #fff;
}

/* Rodapé inferior */
.footer-bottom {
    margin-top: 20px;
    color: #fff;
}
